.container {
    margin-top:30px;
}

.toolbar {
    padding: 20px;
    margin-top: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.location-form {
    padding: 10px;
}

#searchBox {
    width: 380px;
}

#map {
    padding: 20px;
    height: 550px;
}