.left {
	float: left;
	width: 300px;
    height: 700px;
    margin: 0px 0px 30px 100px;
}

.right {
    min-width: 500px;
    margin: 30px 100px 30px 430px;
	height: 700px;
}

.search-toolbar {
    min-width: 460px;
    padding: 20px 0px 0px 40px;
}

.toggle-toolbar {
    min-width: 460px;
    padding: 20px 0px 0px 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.location-form {
    padding: 10px;
}

#searchBox {
    width: 380px;
}

#map {
    margin: 20px 20px 0px 20px;
    min-height: 500px;
    height: 99%;
}

#submit-success-alert {
    display: none;
    width: 250px;
}

#submit-error-alert {
    display: none;
    width: 250px;
}